# Node.js
node_modules/

# Build
/build/

# SvelteKit
/.svelte-kit/
/__sapper__/
/web_modules/
/.vercel/

# Ignore files
.DS_Store
package

# Environment
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
